.carousel {
  @apply relative flex w-96 h-40 overflow-hidden m-2;
  perspective: 66rem;
  transform-style: preserve-3d;
  .cards {
    @apply relative w-60 h-32 flex m-auto overflow-visible transition-all duration-1000;
    transform-style: preserve-3d;
    // animation: spin 50s infinite linear;
    div {
      @apply absolute w-60 h-32 aspect-video transition-all duration-1000 top-0 left-0 rounded-lg;
    }
  }
}