* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  overflow-x: hidden;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#toastify {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}

/*滚动条样式*/
*::-webkit-scrollbar {
  @apply w-0 h-0 sm:w-1 sm:h-1 text-transparent
}
/* 滚动滑块样式 */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px hsla(299, 72%, 40%, 0.6);
  background: hsla(299, 72%, 40%, 0.6);
  transition: all 0.3;
}
/* 轨道 */
*::-webkit-scrollbar-track {
  background: transparent;
  width: 400px;
}
/* 内侧轨道 */
*::-webkit-scrollbar-track-piece {
  background: transparent;
  width: 400px;
  /* background: rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1); */
}
*::-webkit-scrollbar-thumb:hover {
  background: hsla(299, 72%, 40%, 0.8);
}

.slide-in {
  animation: slideIn ease 0.5s;
}

@keyframes slideIn {
  from{
    transform: translateX(10%);
    opacity: 0;
  } to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;
